header {
    text-align: center;
    color: rgb(43, 23, 6);
}

body {
    display: grid;

    grid-template-areas:
        '. . header . .'
        '. aboutme .'
        '. etc .';
    background-color: bisque;
}

article {
    background-color: rgb(255, 244, 230);
    text-align: center;
    color: rgb(43, 23, 6);
    padding: 1em 0 1em 0;
    margin: .5em;
}

/*#aboutme {
    float: left;
    width: 25em;
    height: 26;
    margin: .5em;
}*/